body {
    background-color: mintcream;
    font-family: 'Quicksand', "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 15px;
    min-width: 300px;
    max-width: 100%;
}


.tab{
    float: inline-end;
    margin-left: 60px;
    height: 250px;
    text-align: center;
    min-width: 300px;
    max-width: 100%;
}

a:hover {
    color: darkorange;
}

.indent {
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px;
    text-align: center;
    min-width: 300px;
    max-width: 100%;
}

.indent_text {
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px;
    min-width: 300px;
    max-width: 100%;
}

.indent_bold {
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px;
    font-weight: bold;
    min-width: 300px;
    max-width: 100%;
}

.indent_footer {
    margin-right: 200px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    min-width: 300px;
    max-width: 100%;
}

.head {
    font-weight: bold;
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px;
    min-width: 300px;
    max-width: 100%;
}

footer {
    text-align: center;
}


h2, h1 {
    text-align: center;
    color: darkolivegreen;
    min-width: 300px;
    max-width: 100%;
}

.navbar {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2); 
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: darkolivegreen;

}

.banner {
    background-color: wheat;
    margin-top: 75px;
    text-align: center;
    padding: 30px 0;
    color: darkolivegreen;
    min-width: 300px;
    max-width: 100%;
}
#starting-image {
    height: 500px;
}

.pagination_section {
    text-align: center;
}




	
	
	
	/* pagination styling */
	.pagination_section a {
		color: black;
		padding: 10px 18px;
		text-decoration: none;
	}
	
	/* pagination hover effect on non-active */
	.pagination_section a:hover:not(.active) {
		background-color: #031F3B;
		color: white;
	}
	
	/* pagination hover effect on active*/
	a:nth-child(#) {
		background-color: green;
		color: white;
	}
		
	a:nth-child(1) {
		font-weight: bold;
	}
		
	a:nth-child(9) {
		font-weight: bold;
	}
		
	.content {
		margin: 50px;
		padding: 15px;
		min-width: 300px;
        max-width: 100%;
		height: 200px;
		border: 2px solid black;
	}

    .footer {
        background-color: 		teal;
        color: white;
        padding-top: 50px;
        text-align: center;
        width: 100%;
    }

    .footer_list ul{
        text-align: left;
        color: white;
        display: inline-table;
        text-decoration: none;
        margin: 7px;
        list-style-type: none;
        
    }

    .footer_list a {
        text-decoration: none;
	color: white;
    }

    .article {
        
        margin: 100px; /* Значение отступов */
        padding: 10px; /* Поля вокруг текста */
        background: white;
        min-width: 500px;
        max-width: 100%;
    }



