body {
    background-color: mintcream;
    font-family: 'Quicksand', "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 15px;  
}

.navbar {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    
}

.navbar li {
    display: inline-block;
    padding: 10px;
    
}

.navbar a {
    text-decoration: none;
    color: #175873;
    font-weight: bold;
    }

.navbar a:hover {
    text-decoration: none;
    color:#A7A88A;
}

.banner {
    background-color: #34474F;
    margin-top: 75px;
    text-align: center;
    padding: 30px 0;
    color: darkolivegreen;
    min-width: 300px;
    max-width: 100%;
    overflow: hidden;
}

.banner h1,h2 {
    color: white;
}

#starting-image {
    
}

.headings {
    text-align: center;
    min-width: 300px;
    max-width: 100%;
    margin: 100px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    background: white;

    
}

.tag {
    color: deepskyblue;
    font-style: italic;
}

.description {
    font-style: italic;
    font-size: 18px;
    min-width: 300px;
    max-width: 100%;
}

.button {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 30px;
    border: #00CF63;
    border-radius: 6px;
    background: #00CF63;
}

.button a {
    color: white;
    text-decoration: none;
}

.button1 {
    color:#00aff2;
    padding: .7em 2em;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: inline-block;
    background: white;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #00aff2;
}

.button1:hover {
    background-position: 0 0;
    color:#fff;
    }

.button1 a {
        color: #00aff2;
        text-decoration: none;
    }

.pagination_section {
    text-align: center;
}

/* pagination styling */
.pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
}

/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}

/* pagination hover effect on active*/
a:nth-child(#) {
    background-color: green;
    color: white;
}
    
a:nth-child() {
    font-weight: bold;
}
    
a:nth-child() {
    font-weight: bold;
}

.footer {
    background-color: 		teal;
    color: white;
    padding-top: 50px;
    text-align: center;
    
}

.footer_list ul{
    text-align: left;
    color: white;
    display: inline-table;
    text-decoration: none;
    margin: 7px;
    list-style-type: none;
    min-width: 300px;
    max-width: 100%;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

.footer_list a:hover {
        text-decoration: none;
	    color: #E7DED9;
    }


#footer_copyright {
    color: #C0DCEC;
}

.pagination {
    font-weight: bold;
}

#about {
    color: white;
}

.headings h1 {
    font-size: 28px;
}
