body {
    background-color: mintcream;
    font-family: 'Quicksand', "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 15px;
}
.tab{
    float: left;
margin: 4px 15px 2px 90px;
}

.indent {
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px;
}

.head {
    font-weight: bold;
    margin-left: 60px;
    text-indent:30px;
    font-size: 20px
}

footer {
    text-align: center;
}
#photo {

}

h2 {
    text-align: center;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: darkolivegreen;
}

.banner {
    background-color: wheat;
    margin-top: 75px;
    text-align: center;
    padding: 30px 0;
    color: darkolivegreen;
}
#starting-image {
    height: 500px;
}

.footer {
    background-color: 		teal;
    color: white;
    padding-top: 50px;
    text-align: center;
    width: 100%;
}

.footer_list ul{
    text-align: left;
    color: white;
    display: inline-table;
    text-decoration: none;
    margin: 7px;
    list-style-type: none;
    
}

.footer_list {
    text-decoration: none;
}

.article {
    width: 1100px; /* Ширина слоя */
    margin: 100px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    background: white;
}
